<h1>Best Bets</h1>

<table class='table table-striped table-bordered table-hover table-sm'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Description</th>
      <th>Keywords</th>
      <th>Tags</th>
      <th>Created by</th>
      <th>Updated by</th>
      <% if current_user.present? %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @best_bets.each do |best_bet| %>
      <tr>
        <td><%= best_bet.title %></td>
        <td><%= best_bet.url %></td>
        <td><%= best_bet.description %></td>
        <td><%= best_bet.keywords %></td>
        <td><%= best_bet.tags %></td>
        <td><%= best_bet.created_by %></td>
        <td><%= best_bet.updated_by %></td>
        <% if current_user.present? %>
          <td><%= link_to 'Show', best_bet %></td>
          <td><%= link_to 'Edit', edit_best_bet_path(best_bet) %></td>
          <td><%= link_to 'Destroy', best_bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Best Bet', new_best_bet_path %>
