<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= render 'layouts/messages' %>
    <% unless current_user %>
      <div class="alert alert-info text-center">This is a read-only view. Log in to edit these entries.</div>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
