
<%= form_with(model: key_resource, local: true, class: 'form-horizontal') do |form| %>

  <% if key_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(key_resource.errors.count, "error") %> prohibited this key_resource from being saved:</h2>

      <ul>
        <% key_resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :url, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :contexts, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_field :contexts, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :keywords, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_field :keywords, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :categories, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= form.text_field :categories, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-2">&nbsp;  </div>
    <div class="col-sm-8">
      <%= form.submit %>
    </div>
  </div>

<% end %>
