<%= form_with(model: key_resource, local: true, class: 'form-horizontal') do |form| %>

  <% if key_resource.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="h4"><%= pluralize(key_resource.errors.count, "error") %> prohibited this key_resource from being saved:</h2>
      <ul>
        <% key_resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contexts %>
    <%= form.text_field :contexts, class: 'form-control' %>
    <p class="form-text text-muted">
      <small>A comma-delimited list (e.g. BestBets, ServicesTools).</small>
    </p>
  </div>

  <div class="form-group">
    <%= form.label :keywords %>
    <%= form.text_field :keywords, class: 'form-control' %>
    <p class="form-text text-muted">
      <small>A comma-delimited list (e.g. mla, bibliography).</small>
    </p>
  </div>

  <div class="form-group">
    <%= form.label :categories %>
    <%= form.text_field :categories, class: 'form-control' %>
    <p class="form-text text-muted">
      <small>A comma-delimited list (e.g. faculty, student, visitor).</small>
    </p>
  </div>

  <div class="actions form-group">
    <%= link_to 'Cancel', @key_resource.id.present? ? key_resource_path(@key_resource) : key_resources_path, class: 'btn btn-danger' %>
    <%= form.submit 'Save', class: 'btn btn-primary float-right' %>
  </div>

<% end %>
