<h1 class="h2 mb-4 float-left">Key Resource: <%= @key_resource.title %></h1>
<%= link_to 'Edit Key Resource'.html_safe, edit_key_resource_path(@key_resource), class: 'btn btn-primary float-right mb-1 ml-1' %>
<%= link_to 'View All Key Resources'.html_safe, key_resources_path, class: 'btn btn-secondary float-right mb-1' %>

<div class="clearfix"></div>

<dl class="row">
  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9"><%= @key_resource.title %></dd>

  <dt class="col-sm-3">URL</dt>
  <dd class="col-sm-9"><%= @key_resource.url %></dd>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9"><%= @key_resource.description %></dd>

  <dt class="col-sm-3">Contexts</dt>
  <dd class="col-sm-9"><%= @key_resource.contexts %></dd>

  <dt class="col-sm-3">Keywords</dt>
  <dd class="col-sm-9"><%= @key_resource.keywords %></dd>

  <dt class="col-sm-3">Categories</dt>
  <dd class="col-sm-9"><%= @key_resource.categories %></dd>

  <dt class="col-sm-3">Updated By</dt>
  <dd class="col-sm-9"><%= @key_resource.updated_by %></dd>
</dl>
